<div class="flex flex-col items-center bg-blue-400 sm:text-center h-full">
<h1 class="text-white">Welcome to buget app!</h1>

<button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  Click here to <%= link_to "sign in", new_user_session_path %>!
</button>
</div>
