<div class=" flex flex-col justify-between text-center bg-neutral-100	h-screen items-center">
  <h1 class="text-black h-screen self-end	flex  items-center grow splash-text text-7xl font-bold font-mono my-2">costino!</h1>
  <div class= "flex flex-col sm:text-center text-center justify-end py-4">
    <a href="<%= new_user_session_path() %>" class="w-screen flex text-lg justify-center my-4 bg-transparent hover:bg-blue-500 text-gray-400 font-semibold hover:text-white py-2 px-4">
      <button class=" focus:outline-none">LOG IN</button>
    </a>
    <a href="<%= new_user_registration_path() %>" class="w-screen flex text-lg justify-center my-4 bg-transparent hover:bg-blue-500 text-gray-400 font-semibold hover:text-white py-2 px-4">
      <button class=" focus:outline-none">SIGN UP</button>
    </a>
  </div>
<div>
