<div class="expense-item">
      <div class="expense-details border my-4">
        <h4><%= expense.name %></h4>
        <p>Amount: <%= expense.amount %> $</p>
        <p>Date: <%= expense.created_at.strftime('%B %d, %Y') %></p>
      </div>
</div>
